<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block style %}{% endblock %}

</head>

<body>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="" style="color: #fff;"> <i class="fas fa-user-secret" style="font-size:x-large"> </i>Intrusion Prediction System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item active">
                    <a class="nav-link" href="" data-target="#rowinput" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#csv" data-toggle="tab"><i class="far fa-address-book"></i>CSV Input </a>
                </li>
                <li class="nav-item" id="">
                    <a class="nav-link" href="" data-toggle="tab"><i class="fas fa-user-graduate"></i> API Documentation</a>
                </li>
                <li class="nav-item" id="">
                    <a class="nav-link" href="" data-toggle="tab"><i class="fas fa-user-graduate"></i> Project Details</a>
                </li>
                <li class="nav-item" id="abouttag">
                    <a class="nav-link" href="" data-toggle="tab"><i class="fas fa-user-graduate"></i> About Us</a>
                </li>
            </ul>
            <!-- url_for('static', filename='a_picture.png') -->
        </div>
    </nav>

    <section id="bdy">
        <div id="myTabContent" class="tab-content ">
            <div class="tab-pane fade active show" id="rowinput">
                {% block navcontent1 %} {% endblock %}

            </div>
            <div class="tab-pane fade" id="csv">
                {% block navcontent2 %} {% endblock %}
            </div>
        </div>


        {% block tbl %} {% endblock %}
    </section>
    {% block about %} {% endblock %}
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container pt-3 pb-0">
                <h5 class="text-uppercase">Machine Learning Based Intrusion Prediction System <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github m-0"></i
                    ></a></h5>
                <div class="container">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">


                            <p class="text-left pb-0">
                                This is the web interface which provide GUI to our web API. This API is open source and free to use.
                            </p>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

                            <p class="text-left">
                                Neural Network was used as the ML model in the backend and KDD 99-NSL dataset was used to train the model. It accurate around 88.2%.
                            </p>

                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Section: CTA -->

            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">FYP</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>


</body>

</html>